<h1>Error!!</h1>
<h2>Dish Ingredients were left blank, Please try again</h2>
<form method="POST" action="/dishes/new"
<p>Dish Name: <input type="text" name="name"></p>
<p>Dish Cook Time: <input type="text" name="cook_time"></p>
<p>Dish Difficulty: <input type="text" name="difficulty"></p>
<p>Dish Ingredients, Please place a comma after every ingredient: <input type="text"  name="ingredients"></p>
<p>Dish Directions, Please place a period after every direction: <input type="text" name="directions"></p>
<p>Optional: Link to a Picture of the dish: <input type="link" name="pic_link"></p>
<input type="submit" value="Submit Your Dish!">
</form>

