<h1>Username or Email already in use please try again!</h1>
<form method="POST" action="/signup">
<p>Email: <input type="text" name="email"></p>
<p>Username: <input type="text" name="username"></p>
<p>Password: <input type="text" name="password"></p>
<input type="submit" value="Sign up!" id="submit">