<h1>You Must first Login!</h1>
<h2>Please Login! or go to<a href="/signup"> Sign Up</a></h2>
<br>
<form method="post" action="/login">
  <p><input type="text" name="username" placeholder="Username:"></p>
  <p><input type="text" name="password" placeholder="Password:"></p>


  <input type="submit" value="submit">
</form>