<h1>Welcome <%= @user.username %></h1>
<h2>Please Input your new dish below!</h2>
<br>
<form method="POST" action="/dishes/new"
<p>Dish Name:<input type="text" name="name"></p>
<p>Dish Cook Time:<input type="text" name="cook_time"></p>
<p>Dish Difficulty:<input type="text" name="difficulty"></p>
<p>Dish Ingredients:<textarea rows="5" name="ingredients" cols="25" value=</textarea></textarea>>
<p>Dish Directions:<textarea rows="5" name="directions" cols="25" value=<textarea></textarea>>
<p>Optional: Dish Link to picture:<input type="text" name="pic_link"> </p>
<input type="submit" value="Submit Your Dish!">
</form>

